.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*------------------------------------
LAYOUT
------------------------------------*/

.wrapper {
  width:  400px;
  margin: 0 auto;
}

.wrapper--form {
  margin-top: 2rem;
}

/*------------------------------------
FORM
------------------------------------*/

.form__field {
  margin-top: 2rem;
}

.form__field--error input[type="text"] {
  border-color: red;
}

.form__label {
  margin-bottom: 1rem;
}

.form__field__alert {
  color:       red;
  padding-top: 4rem;
}

.input-required {
  font-weight: bold;
}

.form__submit-area {
  margin-top: 5rem;
}

.form__selector {
  margin-top:   3rem;
  padding:      4rem 0;
  border:       1px solid #cacaca;
  border-right: none;
  border-left:  none;
}

.form__selector__item {
  margin-top: 4rem;
}

.form__selector__item:first-child {
  margin-top: 0;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  z-index:          100;
  position:         absolute;
  top:              6rem;
  right:            0px;
  width:            300px;
  padding:          4rem;
  border:           1px solid #cacaca;
  background-color: #fff;
}

.dropdown ul li {
  margin-top: 4rem;
  text-align: right;
}

input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.textfield {
  width:            100%;
  height:           0.5rem;
  line-height:      0.5rem;
  padding:          1rem;
  background-color: #fff;
  border:           solid 1px #cacaca;
  border-radius:    6;
  font-size:        1rem;
  color:            #4f4f4f;
}

.textarea {
  width:            100%;
  height:           200vh;
  padding:          50vh;
  background-color: #fff;
  border:           solid 1px #cacaca;
  border-radius:    6;
  font-size:        1rem;
  color:            #4f4f4f;
}

.textfield::placeholder,
.textarea::placeholder {
  color: #cacaca;
}


/*------------------------------------
BUTTONS
------------------------------------*/

.button {
  position:      relative;
  height:        2rem;
  line-height:   2rem;
  font-weight:   bold;
  text-align:    center;
  border-radius: 0.2rem;
  user-select:   none;
  cursor:        pointer;
  border:        none;
}

.button-progress:after {
  content:       '';
  display:       block;
  position:      absolute;
  top:           50%;
  right:         10px;
  margin-top:    -10px;
  width:         25px;
  height:        25px;
  border:        3px solid #1d1d1d;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  animation:     icon-spin 2s linear infinite;
}

.button--submit {
  width:            100%;
  background-color: #61dafb;
  color:            #fff;
}

.button--submit:hover,
.button--submit:focus {
  background-color: #1d1d1d;
}

.button--submit:active {
  background-color: #1d1d1d;
}

.button--submit[disabled] {
  background-color: #4f4f4f;
  cursor: progress;
}

.button--submit[disabled]:hover {
  border: none;
}